<?xml version="1.0" encoding="utf-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <dict>
      <key>Title</key>
      <string>test chapter title 1 </string>
      <key>Description</key>
      <string>new toc test</string>
      <key>PagesCount</key>
      <integer>3</integer>
      <key>PageToNavigate</key>
      <integer>1</integer>
      <key>ImageSrc</key>
      <string>pagePreview/ebookimg_acc4d586-4c62-4219-b364-9cd91b46dffa.png</string>
      <key>Paragraph</key>
      <array>
        <dict>
          <key>Title</key>
          <string>new par 1</string>
          <key>Description</key>
          <string>description</string>
          <key>PagesCount</key>
          <integer>4</integer>
          <key>PageToNavigate</key>
          <integer>2</integer>
          <key>ImageSrc</key>
          <string>pagePreview/ebookimg_ddabeabb-b526-40db-8e73-6111030f7101.png</string>
        </dict>
        <dict>
          <key>Title</key>
          <string>paragraph 1</string>
          <key>Description</key>
          <string>paragraph 1 subtitle </string>
          <key>PagesCount</key>
          <integer>2</integer>
          <key>PageToNavigate</key>
          <integer>5</integer>
          <key>ImageSrc</key>
          <string>pagePreview/ebookimg_c6dd6fc0-f5e7-42a0-9f87-44fc2b2ec58c.png</string>
        </dict>
        <dict>
          <key>Title</key>
          <string>paragraph </string>
          <key>Description</key>
          <string>paragraph 2 subtitle</string>
          <key>PagesCount</key>
          <integer>6</integer>
          <key>PageToNavigate</key>
          <integer>7</integer>
          <key>ImageSrc</key>
          <string>pagePreview/ebookimg_8d7c1ea5-4622-482c-a116-b9247164865c.png</string>
        </dict>
        <dict>
          <key>Title</key>
          <string>paragraph 3</string>
          <key>Description</key>
          <string>paragraph 3 subtitle</string>
          <key>PagesCount</key>
          <integer>1</integer>
          <key>PageToNavigate</key>
          <integer>8</integer>
          <key>ImageSrc</key>
          <string>pagePreview/ebookimg_e3a85519-ceb2-411b-bbd2-c3996b55ae6e.png</string>
        </dict>
      </array>
    </dict>
    <dict>
      <key>Title</key>
      <string>test chapter 5</string>
      <key>Description</key>
      <string>test chapter 5 description</string>
      <key>PagesCount</key>
      <integer>12</integer>
      <key>PageToNavigate</key>
      <integer>2</integer>
      <key>ImageSrc</key>
      <string>pagePreview/ebookimg_592d6357-741e-4629-a897-4fa3060ec80b.png</string>
      <key>Paragraph</key>
      <array>
        <dict>
          <key>Title</key>
          <string>paragraph 1</string>
          <key>Description</key>
          <string>paragraph 1 subtitle</string>
          <key>PagesCount</key>
          <integer>1</integer>
          <key>PageToNavigate</key>
          <integer>1</integer>
          <key>ImageSrc</key>
          <string>pagePreview/ebookimg_d6d6f603-e2cd-4628-8c2d-e5d397e83656.png</string>
        </dict>
        <dict>
          <key>Title</key>
          <string>paragraph 2</string>
          <key>Description</key>
          <string>paragraph 2 subtitle</string>
          <key>PagesCount</key>
          <integer>3</integer>
          <key>PageToNavigate</key>
          <integer>4</integer>
          <key>ImageSrc</key>
          <string>pagePreview/ebookimg_89c625ca-370b-43b9-97dd-3f91a4e7bf48.png</string>
        </dict>
      </array>
    </dict>
    <dict>
      <key>Title</key>
      <string>test chapter 6</string>
      <key>Description</key>
      <string>test chapter 6 description</string>
      <key>PagesCount</key>
      <integer>3</integer>
      <key>PageToNavigate</key>
      <integer>4</integer>
      <key>ImageSrc</key>
      <string>pagePreview/ebookimg_81c01ad3-122c-4145-8ac6-1834248e5252.png</string>
      <key>Paragraph</key>
      <array>
        <dict>
          <key>Title</key>
          <string>paragraph 1</string>
          <key>Description</key>
          <string>paragraph 1 subtitle</string>
          <key>PagesCount</key>
          <integer>3</integer>
          <key>PageToNavigate</key>
          <integer>2</integer>
          <key>ImageSrc</key>
          <string>pagePreview/ebookimg_89c625ca-370b-43b9-97dd-3f91a4e7bf48.png</string>
        </dict>
      </array>
    </dict>
    <dict>
      <key>Title</key>
      <string>test empty chapter</string>
      <key>Description</key>
      <string>toc test</string>
      <key>PagesCount</key>
      <integer>2</integer>
      <key>PageToNavigate</key>
      <integer>7</integer>
      <key>ImageSrc</key>
      <string>pagePreview/ebookimg_09e4eb3c-c7b9-45c5-8593-6dc8a0d04b1d.png</string>
      <key>Paragraph</key>
      <array>
        <dict>
          <key>Title</key>
          <string>paragraph 1</string>
          <key>Description</key>
          <string>paragraph test subtitle</string>
          <key>PagesCount</key>
          <integer>3</integer>
          <key>PageToNavigate</key>
          <integer>2</integer>
          <key>ImageSrc</key>
          <string>pagePreview/ebookimg_05fb9171-a1f8-48a4-83fd-bdb8010ac683.png</string>
        </dict>
      </array>
    </dict>
    <dict>
      <key>Title</key>
      <string>test chapter 3 </string>
      <key>Description</key>
      <string>test chapter 3 description</string>
      <key>PagesCount</key>
      <integer>11</integer>
      <key>PageToNavigate</key>
      <integer>12</integer>
      <key>ImageSrc</key>
      <string>pagePreview/ebookimg_78b03241-96fd-4d06-8aa6-cbe272433bd2.png</string>
      <key>Paragraph</key>
      <array>
        <dict>
          <key>Title</key>
          <string>paragraph 1</string>
          <key>Description</key>
          <string>paragraph 1 description</string>
          <key>PagesCount</key>
          <integer>7</integer>
          <key>PageToNavigate</key>
          <integer>1</integer>
          <key>ImageSrc</key>
          <string>pagePreview/ebookimg_2b140de1-5254-4a62-b8ec-2b1b4a13f672.png</string>
        </dict>
      </array>
    </dict>
    <dict>
      <key>Title</key>
      <string>test chapter 7</string>
      <key>Description</key>
      <string>test chapter 7 description</string>
      <key>PagesCount</key>
      <integer>1</integer>
      <key>PageToNavigate</key>
      <integer>12</integer>
      <key>ImageSrc</key>
      <string>pagePreview/ebookimg_bddc3eb5-6f23-42f3-a882-7bc70964d59a.png</string>
      <key>Paragraph</key>
      <array>
        <dict>
          <key>Title</key>
          <string>paragraph 1</string>
          <key>Description</key>
          <string>paragraph 1 subtitle</string>
          <key>PagesCount</key>
          <integer>7</integer>
          <key>PageToNavigate</key>
          <integer>8</integer>
          <key>ImageSrc</key>
          <string>pagePreview/ebookimg_c72167c6-6884-4458-9db2-c728ebb1f0ab.png</string>
        </dict>
      </array>
    </dict>
    <dict>
      <key>Title</key>
      <string>test chapter 2</string>
      <key>Description</key>
      <string>test</string>
      <key>PagesCount</key>
      <integer>3</integer>
      <key>PageToNavigate</key>
      <integer>15</integer>
      <key>ImageSrc</key>
      <string>pagePreview/ebookimg_9d5ed9c3-6ea3-4e5a-8bcc-443a26a70bd2.png</string>
      <key>Paragraph</key>
      <array>
        <dict>
          <key>Title</key>
          <string>p1</string>
          <key>Description</key>
          <string>paragraph</string>
          <key>PagesCount</key>
          <integer>3</integer>
          <key>PageToNavigate</key>
          <integer>16</integer>
          <key>ImageSrc</key>
          <string />
        </dict>
        <dict>
          <key>Title</key>
          <string>paragraph 2</string>
          <key>Description</key>
          <string>paragraph 2 subtitle</string>
          <key>PagesCount</key>
          <integer>3</integer>
          <key>PageToNavigate</key>
          <integer>21</integer>
          <key>ImageSrc</key>
          <string />
        </dict>
        <dict>
          <key>Title</key>
          <string>paragraph</string>
          <key>Description</key>
          <string>paragraph 3 subtitle</string>
          <key>PagesCount</key>
          <integer>2</integer>
          <key>PageToNavigate</key>
          <integer>2</integer>
          <key>ImageSrc</key>
          <string />
        </dict>
        <dict>
          <key>Title</key>
          <string>paragraph 4</string>
          <key>Description</key>
          <string>paragraph 4 subtitle</string>
          <key>PagesCount</key>
          <integer>3</integer>
          <key>PageToNavigate</key>
          <integer>3</integer>
          <key>ImageSrc</key>
          <string />
        </dict>
        <dict>
          <key>Title</key>
          <string>paragraph 5</string>
          <key>Description</key>
          <string>paragraph 5 subtitle</string>
          <key>PagesCount</key>
          <integer>12</integer>
          <key>PageToNavigate</key>
          <integer>22</integer>
          <key>ImageSrc</key>
          <string />
        </dict>
      </array>
    </dict>
    <dict>
      <key>Title</key>
      <string>test chapter 4</string>
      <key>Description</key>
      <string>test chapter 4 description</string>
      <key>PagesCount</key>
      <integer>1</integer>
      <key>PageToNavigate</key>
      <integer>27</integer>
      <key>ImageSrc</key>
      <string>pagePreview/ebookimg_e8ac924e-6049-4dbc-a75f-d7a3797f5b38.png</string>
      <key>Paragraph</key>
      <array>
        <dict>
          <key>Title</key>
          <string>paragraph 2</string>
          <key>Description</key>
          <string>paragraph 2 description</string>
          <key>PagesCount</key>
          <integer>4</integer>
          <key>PageToNavigate</key>
          <integer>5</integer>
          <key>ImageSrc</key>
          <string />
        </dict>
      </array>
    </dict>
  </array>
</plist>