@font-face
{
	font-family:"Rabiohead";
	src:url("../fonts/rabiohead.ttf") format("truetype")
}
@font-face
{
	font-family:"Gotham";
	src:url("../fonts/47.ttf");
	font-weight:normal
}
@font-face
{
	font-family:"Gotham";
	src:url("../fonts/188.ttf") format("truetype");
	font-weight:bold
}
@font-face
{
	font-family:"Chalkduster";
	src:url("../fonts/Chalkduster.ttf") format("truetype");
	font-weight:normal;
}
@font-face
{
	font-family:"AEnigmaScrawl4BRK";
	src:url("../fonts/aescrawl.ttf") format("truetype");
	font-weight:normal;
}
*
{
	margin:0;
	padding:0;
	border-collapse:collapse
}
.frame
{
	width:942px;
	height:504px;
	background:url(../images/frame.jpg);
	background-size:942px 504px;
	position:relative
}
.notes
{
	font:bold 14px "Gotham";
	color:#448fcc;
	width:942px;
	text-align:center
}
.greenLine
{
	height:100%;
	background:url(../images/greenLine.png) center 80px no-repeat;
	font-family:"Rabiohead"
}
.greenLine h2
{
	font-size:48px;
	font-weight:normal;
	color:#589642;
	width:50%;
	text-align:center;
	padding-top:35px
}
.long
{
	float:left
}
.short
{
	float:right
}
.greenLine div
{
	width:115px;
	height:114px;
	background-size:contain;
	font-size:21px;
	padding:10px 0 0 15px;
	position:absolute
}
.noteSticker-blue
{
	background-image:url(../images/noteSticker-blue.png);
	color:#164577
}
.noteSticker-yellow
{
	background-image:url(../images/noteSticker-yellow.png);
	color:#d72a31
}
.noteSticker-green
{
	background-image:url(../images/noteSticker-green.png);
	color:#404041
}
.noteSticker-orange
{
	background-image:url(../images/noteSticker-orange.png);
	color:#164577
}
.noteSticker-blue.rotate-left
{
	-webkit-transform:rotate(-17deg)
}
.noteSticker-blue.rotate-right
{
	-webkit-transform:rotate(5deg)
}
.noteSticker-yellow.rotate-left
{
	-webkit-transform:rotate(-9deg)
}
.noteSticker-yellow.rotate-right
{
	-webkit-transform:rotate(8deg)
}
.noteSticker-green.rotate-left
{
	-webkit-transform:rotate(-5deg)
}
.noteSticker-orange.rotate-left
{
	-webkit-transform:rotate(-21deg)
}
.Grid h1
{
	color:#2b2b2b;
	font-family:"Chalkduster";
	font-style:italic;
	display:block;
	padding:55px 0 0 0;
	text-align:center;
	font-size:16px;
}
.Text
{
	padding:20px 0px 0 40px;
}
.Grid p
{
	font-family:"Chalkduster";
	color:#2b2b2b;
	font-weight:normal;
	font-size:15px;                
}
.Grid table
{
	width:auto
}
.Table
{
	padding:30px 30px 10px 40px;
}
.Grid table td.name
{
	text-align:center;
	color:#2b2b2b;
	font-weight:normal;
	font-size:15px;
	 font-family:"Chalkduster";
}
.Grid table td
{
	font-family:"AEnigmaScrawl4BRK";                
	font-size:14px;
	font-weight:bold;
	color:#00557b;
	vertical-align:middle;
	text-align:left;
	padding:5px 0 5px 5px;
}
.Grid table td .click { 
	display:block;
	height:30px;   
	text-align:center;                 
	width:100%;
	padding:10px 0;
	cursor:pointer;
}
.Grid
{
	background:url(../images/Grid.png) 24px 30px no-repeat;
}
.Table .width2
{
	padding-left:5px;
	padding-right:5px;
}
.Table .width4
{
	padding-left:0px;
	padding-right:20px;
}
.Table .width5
{
	padding-left:5px;
	padding-right:10px;
}
.Table .width6
{
	padding-left:5px;
	padding-right:10px;
}
.Table .width7
{
	padding-left:5px;
	padding-right:10px;
}
.Table .width8
{
	padding-left:15px;
}
.Table .upper
{
	text-transform:uppercase;
	padding-right:10px;
	padding-left:0px;
}
.diagram
{
	display:block;
	width:570px;
	height:570px;
	position:relative;
	text-align:center;
	font:23px "Gotham";
	float:left
}
.diagram:before
{
	display:block;
	content:"Balanced Scorecard";
	color:#2b2b2b;
	border:3px solid #c1c0bf;
	border-radius:15px;
	position:absolute;
	z-index:1;
	background-color:white;
	width:140px;
	padding:47px 0;
	left:212px;
	top:212px
}
.diagram section
{
	display:block;
	width:275px;
	height:275px;
	position:absolute;
	color:white
}
.diagram section div
{
	width:29px;
	height:29px;
	border-width:3px;
	border-style:solid;
	border-radius:10px;
	background-color:white;
	position:absolute
}
.red
{
	border-top-left-radius:275px;
	background-color:#c1272d
}
.blue
{
	border-top-right-radius:275px;
	background-color:#1c94ed;
	right:0
}
.yellow
{
	border-bottom-right-radius:275px;
	background-color:#f9ad19;
	right:0;
	bottom:0
}
.green
{
	border-bottom-left-radius:275px;
	background-color:#7fb74b;
	bottom:0
}
.hover
{
	box-shadow:0 0 10px 10px #09F
}
.red:before
{
	content:"Patients";
	position:absolute;
	top:150px;
	left:100px
}
.blue:before
{
	content:"Finances";
	position:absolute;
	top:150px;
	right:100px
}
.yellow:before
{
	content:"Organizational Growth";
	position:absolute;
	top:110px;
	right:60px;
	width:200px
}
.green:before
{
	content:"Internal Processes";
	position:absolute;
	top:110px;
	left:60px;
	width:200px
}
.red div
{
	border-color:#ef734e
}
.blue div
{
	border-color:#163e6a
}
.yellow div
{
	border-color:#e0b12f
}
.green div
{
	border-color:#3d6c38
}
.red div:first-child
{
	bottom:10px;
	right:73px
}
.red div:nth-child(2)
{
	bottom:10px;
	right:118px
}
.red div:nth-child(3)
{
	bottom:10px;
	right:163px
}
.red div:nth-child(4)
{
	bottom:10px;
	right:208px
}
.red div:nth-child(5)
{
	bottom:55px;
	right:73px
}
.red div:nth-child(6)
{
	bottom:55px;
	right:118px
}
.red div:nth-child(7)
{
	bottom:55px;
	right:163px
}
.red div:nth-child(8)
{
	bottom:55px;
	right:208px
}
.blue div:first-child
{
	bottom:10px;
	left:73px
}
.blue div:nth-child(2)
{
	bottom:10px;
	left:118px
}
.blue div:nth-child(3)
{
	bottom:10px;
	left:163px
}
.blue div:nth-child(4)
{
	bottom:10px;
	left:208px
}
.blue div:nth-child(5)
{
	bottom:55px;
	left:73px
}
.blue div:nth-child(6)
{
	bottom:55px;
	left:118px
}
.blue div:nth-child(7)
{
	bottom:55px;
	left:163px
}
.blue div:nth-child(8)
{
	bottom:55px;
	left:208px
}
.yellow div:first-child
{
	top:10px;
	left:73px
}
.yellow div:nth-child(2)
{
	top:10px;
	left:118px
}
.yellow div:nth-child(3)
{
	top:10px;
	left:163px
}
.yellow div:nth-child(4)
{
	top:10px;
	left:208px
}
.yellow div:nth-child(5)
{
	top:55px;
	left:73px
}
.yellow div:nth-child(6)
{
	top:55px;
	left:118px
}
.yellow div:nth-child(7)
{
	top:55px;
	left:163px
}
.yellow div:nth-child(8)
{
	top:55px;
	left:208px
}
.green div:first-child
{
	top:10px;
	right:73px
}
.green div:nth-child(2)
{
	top:10px;
	right:118px
}
.green div:nth-child(3)
{
	top:10px;
	right:163px
}
.green div:nth-child(4)
{
	top:10px;
	right:208px
}
.green div:nth-child(5)
{
	top:55px;
	right:73px
}
.green div:nth-child(6)
{
	top:55px;
	right:118px
}
.green div:nth-child(7)
{
	top:55px;
	right:163px
}
.green div:nth-child(8)
{
	top:55px;
	right:208px
}
.examples
{
	list-style:none;
	font:17px "Gotham";
	color:#184576;
	text-align:center;
	width:632px;
	height:570px;
	float:left
}
.examples li
{
	width:300px;
	border:2px solid #999;
	border-radius:10px;
	position:absolute;
	background-color:white;
	z-index:1
}
.r1
{
	height:75px;
	line-height:75px
}
.r2
{
	padding-top:21px;
	height:54px
}
.r3
{
	padding-top:12px;
	height:63px
}
.col-2
{
	left:316px
}
.row-1
{
	top:109px
}
.row-2
{
	top:200px
}
.row-3
{
	top:291px
}
.row-4
{
	top:382px
}
.drop
{
	-webkit-animation:zoomOut 500ms
}
@-webkit-keyframes zoomOut
{
	to
	{
		-webkit-transform:scale(0)
	}
}
.Grid1
{
	background:url(../images/Grid1.png) 20px 40px no-repeat;
    background-size:1000px;
    margin-left:7px;
    width:1024px;
    min-height:520px;
    margin-bottom:15px;
}
.Grid1 h1
{
	color:#2b2b2b;
	font-family:"Chalkduster";
	font-style:italic;
	display:block;
	padding:30px 0 0 0;
	text-align:center;
	font-size:16px;
}
.Grid1 p
{
	font-family:"Chalkduster";
	color:#2b2b2b;
	font-weight:normal;
	font-size:12px;                
}
.Grid1 table
{
	width:auto;
	margin:18px 0 0 30px
}
.Grid1 tr.Color td
{
    font-family: "Chalkduster";
    color: #2b2b2b;
    font-weight: normal;
    font-size: 15px;
}
.Grid1 table td
{
    font-family: "AEnigmaScrawl4BRK";
    font-size: 14px;
    font-weight: bold;
    color: #00557b;
    vertical-align: middle;
    text-align: left;
    padding: 5px 0 5px 5px;
}
.Grid1 table td.Total
{
	font-size:16px
}
.Grid1 table td.width1
{
	width:235px
}
.Grid1 table td.width2
{
	width:240px
}
.Grid1 table td.width3
{
	width:215px;
	padding-left:30px
}
.Grid1 table td.width4
{
	width:220px;
	padding-left:30px
}
.Grid1 td.Center
{
	text-align:center
}
.Grid1 tr.Center td
{
	text-align:center
}
.Grid1 table td.name
{
	text-align:center;
	color:#2b2b2b;
	font-weight:normal;
	font-size:15px;
	 font-family:"Chalkduster";
}
.Grid1 .Effective
{
	height:63px
}
.Grid1 .Implement
{
	height:63px
}
.Grid1 .adversely
{
	height:62px
}
.Grid1 .positive
{
	height:65px
}
.Grid1 table td .Score,
.Grid1 table td input
{
	width:50px;
	height:50px;
	line-height:50px;
	display:block;
	margin:4px;
	border:none;
	outline:none;
	margin:0 auto;
	text-align:center;
	background:none;
    font-family: "AEnigmaScrawl4BRK";
    font-size: 14px;
    font-weight: bold;
    color: #00557b;
}
.Grid1 .TotalScore .Score
{
	height:25px;
	line-height:25px;
	margin-top:5px
}